(
    meta: (
        version: 1,
    )
    packages: {
        "a7db0ec0-bb83-413c-b7f3-ff093e3ad1b8": (
            version: 1,
            phrase: "*Example Package*",
            description: "This is an example package.",
        )
    }
)