(
    meta: (
        version: 1,
    ),
    packages: [
        /*[0]*/ (uuid: "731cb502-0bcc-489d-9c5d-ecb2d05dca82", phrase: "KD9pKSg8QFx3Kz4uezAsMjV9KXs1LH0g", description: "Prevents mention spam, mass pinging, unwanted mentions.", version: 0),
        /*[1]*/ (uuid: "27ed8e11-905f-4c3b-ab31-2275289ee591", phrase: "XGR7MSw1fVxzKD86XHcrXC4/XHM/KSs/KD86Um9hZHxTdHJlZXR8QXZlbnVlfEJvdWxldmFyZHxEcml2ZXxDb3VydHxQbGFjZXxMYW5lfENpcmNsZXxXYXl8UGFya3dheXxUcmFjZXxBdmV8UmR8U3R8Qmx2ZHxEcnxDdClcYig/OlxzKD86U3VpdGV8QXB0XC4/XHM/KVxzKlx3Kyk/XHMqLD9ccyooPzooPzpbQS1aXXsyfSl8KD86W0EtWl1bYS16XSspKSg/OlxzKlxkezV9KT8g", description: "Blocks common address formats.", version: 2),
        /*[2]*/ (uuid: "c7f6cd57-c70e-4c32-b23c-3dc6077fc215", phrase: "KD9pKVxiKGJpdGNvaW58YnRjfGV0aHxldGhlcmV1bXxldGhlcml1bXxjcnlwdG98Y3J5cHRvY3VycmVuY3l8bW9uZXl8ZnJlZSlcYi57MCw1MH0ocGhpc2hpbmd8c2NhbXxoYWNrfGhhY2tlcnN8d2FsbGV0fGFjY291bnR8ZGVwb3NpdHx3aXRoZHJhd3xleGNoYW5nZXxhaXJkcm9wfGFpcmRyb3BwaW5nfG9wcG9ydHVuaXR5fGludmVzdG1lbnR8c2NhbXxtb25leSBiYWNrfHZpcnVzfGNyeXB0b3xldGhlcmV1bXxiaXRjb2lufGNyeXB0b2N1cnJlbmN5KVxiLnswLDE2NX0oPzooaHR0cHM/Oik/KHd3d1wuKT8pP1tcU1xzXXswLDEwMH0oY29tfG9yZ3xuZXR8dGx8Z3F8aW98Y2Z8dGt8bWUpXGIg", description: "Blocks common crypto and investment scams.", version: 4),
        /*[3]*/ (uuid: "bf3f2b5f-7739-4165-988f-4493d0985fe2", phrase: "KFswMV1cZHsyfXwyWzAtNF1cZHwyNVswLTVdKVwuKFswMV1cZHsyfXwyWzAtNF1cZHwyNVswLTVdKVwuKFswMV1cZHsyfXwyWzAtNF1cZHwyNVswLTVdKVwuKFswMV1cZHsyfXwyWzAtNF1cZHwyNVswLTVdKSA", description: "IP blocker, helps prevent doxxing from ip ex: 132.85.32.1", version: 0),
        /*[4]*/ (uuid: "ae9ab8f4-c166-4403-af6e-a79028781c27", phrase: "XGIoPzpoYXJtfGtpbGx8aHVydHxjdXR8c2hvb3R8Ym9tYnxtdXJkZXJ8YmxvdyB1cClcYi4qP1xiKD86eW91fHNvbWVvbmV8bXlzZWxmfHlvdXJzZWxmfGJhYmllc3x0aGVtfGpld3N8YmxhY2tzfGhpc3Bhbmljc3xteSlcYg", description: "Prevents suicide messages and selfharm, self harm, or threats against other people.", version: 2),
        /*[5]*/ (uuid: "323d3b61-e403-4153-b0c1-59565aae66cc", phrase: "dXBkYXRlK3Rlc3QrNDU2", description: "test package", version: 1)
    ]
)